@import url('https://static.toss.im/tps/main.css');
@import url('https://static.toss.im/tps/others.css');

#root {
    margin: 0;
    padding: 0;
    background: #e4e6e7;
    height: 100vh;
}

* {
    font-family: 'Toss Product Sans';
    box-sizing: border-box;
}